@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  * {
    @apply transition-all
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-slate-200;
    color: #303a4aaf;
    /* color: #9D88AB; */

    font-family: Ubuntu, system-ui, -apple-system, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #455369;
    font-weight: bold;
  }
  
  h1 {
    @apply font-bold text-xl md:text-2xl text-center mb-8;
  }
  h3 {
    @apply text-2xl md:text-4xl mb-2
  }
  h4 {
    @apply text-sm leading-3
  }

  button {
    @apply hover:opacity-80 active:scale-90
  }
}

@layer components {
  .btn-img {
    @apply hover:bg-slate-100 rounded-full
  }
  .btn-img img {
    @apply w-full h-full p-2;
  }
}